*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 170px;
  height: 200px;
  object-fit: cover;
}

.contentWrap {
  max-width: 800px;
  margin-inline: auto;
  width: 100%;
}

.contentWrap h1 {
  padding-inline: 3%;
}

.selectWrap {
  padding-inline: 3%;
  margin-bottom: 2rem;
}

.container {
  padding-inline: 3%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  max-width: 800px;
  margin-inline: auto;
}

.movieCard {
  width: 100%;
  margin-inline: auto;
}

.movieTitle {
  font-size: 0.75rem;
  width: 165px;
}

.releaseDate {
  font-size: 12px;
}

.genres {
  font-size: 12px;
}

@media (768px <= width) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}
