*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 170px;
  height: 200px;
  object-fit: cover;
}

.contentWrap {
  max-width: 800px;
  margin-inline: auto;
  width: 100%;
}

.contentWrap h1 {
  padding-inline: 3%;
}

.searchWrap {
  display: flex;
  justify-content: flex-end;
  padding-inline: 3%;
  gap: 2rem;
  margin-block: 1rem;
}

.container {
  padding-inline: 3%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  max-width: 800px;
  margin-inline: auto;
}

.movieCard {
  width: 100%;
  margin-inline: auto;
}

.movieTitle {
  font-size: 0.75rem;
  width: 165px;
}

.releaseDate {
  font-size: 12px;
}

.genres {
  font-size: 12px;
}

.load-more {
  display: flex;
  justify-content: center;
  margin-block: 3rem;
}

.load-more button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media (768px <= width) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}
